article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

* {
	box-sizing: border-box;
}

.image-bg {
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0px auto;
	background-position: center center;
}

.uv-subpage-heading .overlay {
	background-color: rgba(0, 0, 0, 0.7);
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.btn-group-vertical>.btn-group::after,
.btn-group-vertical>.btn-group::before,
.btn-toolbar::after,
.btn-toolbar::before,
.clearfix::after,
.clearfix::before,
.container-fluid::after,
.container-fluid::before,
.container::after,
.container::before,
.dl-horizontal dd::after,
.dl-horizontal dd::before,
.form-horizontal .form-group::after,
.form-horizontal .form-group::before,
.modal-footer::after,
.modal-footer::before,
.modal-header::after,
.modal-header::before,
.nav::after,
.nav::before,
.navbar-collapse::after,
.navbar-collapse::before,
.navbar-header::after,
.navbar-header::before,
.navbar::after,
.navbar::before,
.pager::after,
.pager::before,
.panel-body::after,
.panel-body::before,
.row::after,
.row::before {
	display: table;
	content: " ";
}

.btn-group-vertical>.btn-group::after,
.btn-toolbar::after,
.clearfix::after,
.container-fluid::after,
.container::after,
.dl-horizontal dd::after,
.form-horizontal .form-group::after,
.modal-footer::after,
.modal-header::after,
.nav::after,
.navbar-collapse::after,
.navbar-header::after,
.navbar::after,
.pager::after,
.panel-body::after,
.row::after {
	clear: both;
}

.row {
	margin-right: -15px;
	margin-left: -15px;
}

.center {
	float: none;
	margin: 0px auto;
	text-align: center;
}

.uv-subpage-heading .uv-subhead-content {
	color: rgb(255, 255, 255);
	padding: 100px 15px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}

.h2,
h2 {
	font-size: 30px;
}

h2 {
	font-family: "Varela Round", sans-serif;
	font-size: 55px;
	line-height: 60px;
}

.uv-subpage-heading .uv-subhead-content h2 {
	font-family: Montserrat, sans-serif;
	font-size: 42px;
	line-height: 52px;
	font-weight: 600;
	margin-bottom: 12px;
	margin-top: 0px;
}

.uv-subpage-heading .uv-subhead-content span {
	font-size: 20px;
	line-height: 30px;
	font-family: Montserrat, sans-serif;
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media print {
	h2,
	h3,
	p {
		orphans: 3;
		widows: 3;
	}
}

@media print {
	h2,
	h3 {
		break-after: avoid;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media (max-width: 767px) {
	h2 {
		font-size: 38px;
		line-height: 55px;
		font-weight: 300;
	}
}

@media only screen and (max-width: 420px) {
	.uv-subpage-heading .uv-subhead-content span {
		padding: 0px 10px;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

* {
	box-sizing: border-box;
}

.image-bg {
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0px auto;
	background-position: center center;
}

.uv-subpage-heading .overlay {
	background-color: rgba(0, 0, 0, 0.7);
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.btn-group-vertical>.btn-group::after,
.btn-group-vertical>.btn-group::before,
.btn-toolbar::after,
.btn-toolbar::before,
.clearfix::after,
.clearfix::before,
.container-fluid::after,
.container-fluid::before,
.container::after,
.container::before,
.dl-horizontal dd::after,
.dl-horizontal dd::before,
.form-horizontal .form-group::after,
.form-horizontal .form-group::before,
.modal-footer::after,
.modal-footer::before,
.modal-header::after,
.modal-header::before,
.nav::after,
.nav::before,
.navbar-collapse::after,
.navbar-collapse::before,
.navbar-header::after,
.navbar-header::before,
.navbar::after,
.navbar::before,
.pager::after,
.pager::before,
.panel-body::after,
.panel-body::before,
.row::after,
.row::before {
	display: table;
	content: " ";
}

.btn-group-vertical>.btn-group::after,
.btn-toolbar::after,
.clearfix::after,
.container-fluid::after,
.container::after,
.dl-horizontal dd::after,
.form-horizontal .form-group::after,
.modal-footer::after,
.modal-header::after,
.nav::after,
.navbar-collapse::after,
.navbar-header::after,
.navbar::after,
.pager::after,
.panel-body::after,
.row::after {
	clear: both;
}

.row {
	margin-right: -15px;
	margin-left: -15px;
}

.center {
	float: none;
	margin: 0px auto;
	text-align: center;
}

.uv-subpage-heading .uv-subhead-content {
	color: rgb(255, 255, 255);
	padding: 100px 15px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}

.h2,
h2 {
	font-size: 30px;
}

h2 {
	font-family: "Varela Round", sans-serif;
	font-size: 55px;
	line-height: 60px;
}

.uv-subpage-heading .uv-subhead-content h2 {
	font-family: Montserrat, sans-serif;
	font-size: 42px;
	line-height: 52px;
	font-weight: 600;
	margin-bottom: 12px;
	margin-top: 0px;
}

.uv-subpage-heading .uv-subhead-content span {
	font-size: 20px;
	line-height: 30px;
	font-family: Montserrat, sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

* {
	box-sizing: border-box;
}

.image-bg {
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0px auto;
	background-position: center center;
}

.uv-subpage-heading .overlay {
	background-color: rgba(0, 0, 0, 0.7);
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.btn-group-vertical>.btn-group::after,
.btn-group-vertical>.btn-group::before,
.btn-toolbar::after,
.btn-toolbar::before,
.clearfix::after,
.clearfix::before,
.container-fluid::after,
.container-fluid::before,
.container::after,
.container::before,
.dl-horizontal dd::after,
.dl-horizontal dd::before,
.form-horizontal .form-group::after,
.form-horizontal .form-group::before,
.modal-footer::after,
.modal-footer::before,
.modal-header::after,
.modal-header::before,
.nav::after,
.nav::before,
.navbar-collapse::after,
.navbar-collapse::before,
.navbar-header::after,
.navbar-header::before,
.navbar::after,
.navbar::before,
.pager::after,
.pager::before,
.panel-body::after,
.panel-body::before,
.row::after,
.row::before {
	display: table;
	content: " ";
}

.btn-group-vertical>.btn-group::after,
.btn-toolbar::after,
.clearfix::after,
.container-fluid::after,
.container::after,
.dl-horizontal dd::after,
.form-horizontal .form-group::after,
.modal-footer::after,
.modal-header::after,
.nav::after,
.navbar-collapse::after,
.navbar-header::after,
.navbar::after,
.pager::after,
.panel-body::after,
.row::after {
	clear: both;
}

.row {
	margin-right: -15px;
	margin-left: -15px;
}

.center {
	float: none;
	margin: 0px auto;
	text-align: center;
}

.uv-subpage-heading .uv-subhead-content {
	color: rgb(255, 255, 255);
	padding: 100px 15px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}

.h2,
h2 {
	font-size: 30px;
}

h2 {
	font-family: "Varela Round", sans-serif;
	font-size: 55px;
	line-height: 60px;
}

.uv-subpage-heading .uv-subhead-content h2 {
	font-family: Montserrat, sans-serif;
	font-size: 42px;
	line-height: 52px;
	font-weight: 600;
	margin-bottom: 12px;
	margin-top: 0px;
}

.uv-subpage-heading .uv-subhead-content span {
	font-size: 20px;
	line-height: 30px;
	font-family: Montserrat, sans-serif;
}

.uv-pagination {
	margin: 30px 0px;
}

ol,
ul {
	margin-top: 0px;
	margin-bottom: 10px;
}

ul {
	margin: 0px;
	padding: 0px;
}

ul li {
	list-style-type: none;
}

.uv-pagination ul li {
	display: inline-block;
}

.uv-pagination ul li::after {
	content: "/";
	margin-left: 5px;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0px;
}

a {
	color: rgb(51, 122, 183);
	text-decoration: none;
}

a:focus,
a:hover {
	color: rgb(35, 82, 124);
	text-decoration: underline;
}

a:focus {
	outline: -webkit-focus-ring-color auto 5px;
	outline-offset: -2px;
}

a {
	cursor: pointer;
	font-family: "Varela Round", sans-serif;
	padding: 0px;
	background-color: transparent;
	transition: all 0.4s ease-out 0s;
	-webkit-font-smoothing: antialiased;
	color: rgb(51, 51, 51);
	opacity: 0.9;
	text-decoration: none !important;
}

a:hover {
	background-color: transparent;
}

a:focus {
	background-color: transparent;
	outline: 0px !important;
}

.uv-pagination ul li a {
	color: rgb(51, 122, 183);
}

.uv-pagination ul li:last-child::after {
	content: "";
}

.uv-pagination ul li.active a {
	color: rgb(51, 51, 51);
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media print {
	h2,
	h3,
	p {
		orphans: 3;
		widows: 3;
	}
}

@media print {
	h2,
	h3 {
		break-after: avoid;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media (max-width: 767px) {
	h2 {
		font-size: 38px;
		line-height: 55px;
		font-weight: 300;
	}
}

@media only screen and (max-width: 420px) {
	.uv-subpage-heading .uv-subhead-content span {
		padding: 0px 10px;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media print {
	h2,
	h3,
	p {
		orphans: 3;
		widows: 3;
	}
}

@media print {
	h2,
	h3 {
		break-after: avoid;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media (max-width: 767px) {
	h2 {
		font-size: 38px;
		line-height: 55px;
		font-weight: 300;
	}
}

@media only screen and (max-width: 420px) {
	.uv-subpage-heading .uv-subhead-content span {
		padding: 0px 10px;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media (max-width: 767px) {
	ul,
	li {
		margin: 0px;
		padding: 0px;
		list-style: none;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media (max-width: 767px) {
	ul,
	li {
		margin: 0px;
		padding: 0px;
		list-style: none;
	}
}

@media (max-width: 767px) {
	li {
		display: inline-block;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media print {
	a,
	a:visited {
		text-decoration: underline;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media (max-width: 767px) {
	ul,
	li {
		margin: 0px;
		padding: 0px;
		list-style: none;
	}
}

@media (max-width: 767px) {
	li {
		display: inline-block;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media print {
	a,
	a:visited {
		text-decoration: underline;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media (max-width: 767px) {
	ul,
	li {
		margin: 0px;
		padding: 0px;
		list-style: none;
	}
}

@media (max-width: 767px) {
	li {
		display: inline-block;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media print {
	a,
	a:visited {
		text-decoration: underline;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}