<section class="uv-subpage-heading image-bg" style="background-image: url(assets/images/header-bg-1.jpg);">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="uv-subhead-content center">
                    <h2>INSCRIPTION EN LIGNE </h2>
                    <span>SmartAGL </span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="uv-pagination">
    <div class="container">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Course</a></li>
            <li class="active"><a href="#">inscription</a></li>
        </ul>
    </div>
</div>