.banner{
        height: 300px;
        color: white;;
        background: url('../../assets/images/c2.jpg');
        background-size: cover;
}

mask{
    background-color: rgb(0, 0, 0, 0.5);
}

text{
    padding: 50px;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

* {
	box-sizing: border-box;
}

.image-bg {
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0px auto;
	background-position: center center;
}

.uv-subpage-heading .overlay {
	background-color: rgba(0, 0, 0, 0.7);
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.btn-group-vertical>.btn-group::after,
.btn-group-vertical>.btn-group::before,
.btn-toolbar::after,
.btn-toolbar::before,
.clearfix::after,
.clearfix::before,
.container-fluid::after,
.container-fluid::before,
.container::after,
.container::before,
.dl-horizontal dd::after,
.dl-horizontal dd::before,
.form-horizontal .form-group::after,
.form-horizontal .form-group::before,
.modal-footer::after,
.modal-footer::before,
.modal-header::after,
.modal-header::before,
.nav::after,
.nav::before,
.navbar-collapse::after,
.navbar-collapse::before,
.navbar-header::after,
.navbar-header::before,
.navbar::after,
.navbar::before,
.pager::after,
.pager::before,
.panel-body::after,
.panel-body::before,
.row::after,
.row::before {
	display: table;
	content: " ";
}

.btn-group-vertical>.btn-group::after,
.btn-toolbar::after,
.clearfix::after,
.container-fluid::after,
.container::after,
.dl-horizontal dd::after,
.form-horizontal .form-group::after,
.modal-footer::after,
.modal-header::after,
.nav::after,
.navbar-collapse::after,
.navbar-header::after,
.navbar::after,
.pager::after,
.panel-body::after,
.row::after {
	clear: both;
}

.row {
	margin-right: -15px;
	margin-left: -15px;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
	float: left;
}

.col-xs-12 {
	width: 100%;
}

.uv-subpage-heading .uv-subhead-content {
	color: rgb(255, 255, 255);
	padding: 100px 15px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}

.h2,
h2 {
	font-size: 30px;
}

h2 {
	font-family: "Varela Round", sans-serif;
	font-size: 55px;
	line-height: 60px;
}

.uv-subpage-heading .uv-subhead-content h2 {
	font-family: Montserrat, sans-serif;
	font-size: 42px;
	line-height: 52px;
	font-weight: 600;
	margin-bottom: 12px;
	margin-top: 0px;
}

.uv-subpage-heading .uv-subhead-content span {
	font-size: 20px;
	line-height: 30px;
	font-family: Montserrat, sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

* {
	box-sizing: border-box;
}

.image-bg {
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0px auto;
	background-position: center center;
}

.uv-subpage-heading .overlay {
	background-color: rgba(0, 0, 0, 0.7);
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.btn-group-vertical>.btn-group::after,
.btn-group-vertical>.btn-group::before,
.btn-toolbar::after,
.btn-toolbar::before,
.clearfix::after,
.clearfix::before,
.container-fluid::after,
.container-fluid::before,
.container::after,
.container::before,
.dl-horizontal dd::after,
.dl-horizontal dd::before,
.form-horizontal .form-group::after,
.form-horizontal .form-group::before,
.modal-footer::after,
.modal-footer::before,
.modal-header::after,
.modal-header::before,
.nav::after,
.nav::before,
.navbar-collapse::after,
.navbar-collapse::before,
.navbar-header::after,
.navbar-header::before,
.navbar::after,
.navbar::before,
.pager::after,
.pager::before,
.panel-body::after,
.panel-body::before,
.row::after,
.row::before {
	display: table;
	content: " ";
}

.btn-group-vertical>.btn-group::after,
.btn-toolbar::after,
.clearfix::after,
.container-fluid::after,
.container::after,
.dl-horizontal dd::after,
.form-horizontal .form-group::after,
.modal-footer::after,
.modal-header::after,
.nav::after,
.navbar-collapse::after,
.navbar-header::after,
.navbar::after,
.pager::after,
.panel-body::after,
.row::after {
	clear: both;
}

.row {
	margin-right: -15px;
	margin-left: -15px;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
	float: left;
}

.col-xs-12 {
	width: 100%;
}

.uv-subpage-heading .uv-subhead-content {
	color: rgb(255, 255, 255);
	padding: 100px 15px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}

.h2,
h2 {
	font-size: 30px;
}

h2 {
	font-family: "Varela Round", sans-serif;
	font-size: 55px;
	line-height: 60px;
}

.uv-subpage-heading .uv-subhead-content h2 {
	font-family: Montserrat, sans-serif;
	font-size: 42px;
	line-height: 52px;
	font-weight: 600;
	margin-bottom: 12px;
	margin-top: 0px;
}

.uv-subpage-heading .uv-subhead-content span {
	font-size: 20px;
	line-height: 30px;
	font-family: Montserrat, sans-serif;
}

.uv-shadow {
	box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 7px;
}

.uv-courses-2 .uv-courese-single-thumb {
	position: relative;
	background: rgb(250, 250, 250);
	margin-bottom: 30px;
}

.uv-courses-2 .uv-courese-single-thumb .uv-post-img {
	position: relative;
}

img {
	border: 0px;
}

img {
	vertical-align: middle;
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img,
.img-responsive,
.thumbnail a>img,
.thumbnail>img {
	display: block;
	max-width: 100%;
    height: auto;
    width: 400px;
}

.uv-courses-2 .uv-courese-single-thumb:hover .uv-post-img .uv-post-author {
	opacity: 1;
	transition: all 0.4s ease-out 0s;
	-webkit-font-smoothing: antialiased;
}

.uv-courses-2 .uv-courese-single-thumb .uv-post-img .uv-post-author {
	opacity: 0;
	position: absolute;
	text-align: center;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background-color: rgba(51, 51, 51, 0.6);
	transition: all 0.4s ease-out 0s;
	-webkit-font-smoothing: antialiased;
}

.uv-courses-2 .uv-courese-single-thumb .uv-course-thumb-inner {
	overflow: hidden;
	padding: 15px;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0px;
}

a {
	color: rgb(51, 122, 183);
	text-decoration: none;
}

a:focus,
a:hover {
	color: rgb(35, 82, 124);
	text-decoration: underline;
}

a:focus {
	outline: -webkit-focus-ring-color auto 5px;
	outline-offset: -2px;
}

a {
	cursor: pointer;
	font-family: "Varela Round", sans-serif;
	padding: 0px;
	background-color: transparent;
	transition: all 0.4s ease-out 0s;
	-webkit-font-smoothing: antialiased;
	color: rgb(51, 51, 51);
	opacity: 0.9;
	text-decoration: none !important;
}

a:hover {
	background-color: transparent;
}

a:focus {
	background-color: transparent;
	outline: 0px !important;
}

.h4,
.h5,
.h6,
h4,
h5,
h6 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.h4,
h4 {
	font-size: 18px;
}

h4 {
	font-family: "Varela Round", sans-serif;
	font-size: 28px;
	line-height: 36px;
}

.uv-courses-2 .uv-courese-single-thumb:hover .uv-course-thumb-inner h4 {
	color: rgb(0, 0, 0);
	transition: all 0.4s ease-out 0s;
	-webkit-font-smoothing: antialiased;
}

.uv-courses-2 .uv-courese-single-thumb .uv-course-thumb-inner h4 {
	font-family: Lato, sans-serif;
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
	color: rgb(106, 105, 105);
	transition: all 0.4s ease-out 0s;
	-webkit-font-smoothing: antialiased;
}

ol,
ul {
	margin-top: 0px;
	margin-bottom: 10px;
}

ul {
	margin: 0px;
	padding: 0px;
}

.uv-courses-2 .uv-courese-single-thumb ul {
	border-top: 1px solid rgb(238, 238, 238);
	overflow: hidden;
}

ul li {
	list-style-type: none;
}

.uv-courses-2 .uv-courese-single-thumb ul li {
	font-family: Lato, sans-serif;
	float: left;
	padding: 10px 15px 20px;
	overflow: hidden;
	border-right: 1px solid rgb(238, 238, 238);
	margin-bottom: 0px;
	width: 50%;
	position: relative;
}

.fa {
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	line-height: 1;
	font-family: FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}

.fa-group::before,
.fa-users::before {
	content: "";
}

.uv-courses-2 .uv-courese-single-thumb ul li.course-info-2 .fa {
	margin-right: 5px;
}

.uv-courses-2 .uv-courese-single-thumb ul li .fa {
	font-size: 12px;
}

.uv-courses-2 .uv-courese-single-thumb ul li span {
	font-weight: bold;
	font-size: 12px;
}

.uv-courses-2 .uv-courese-single-thumb ul li:last-child {
	border-right: 0px solid transparent;
}

.fa-star::before {
	content: "";
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media print {
	h2,
	h3,
	p {
		orphans: 3;
		widows: 3;
	}
}

@media print {
	h2,
	h3 {
		break-after: avoid;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media (max-width: 767px) {
	h2 {
		font-size: 38px;
		line-height: 55px;
		font-weight: 300;
	}
}

@media only screen and (max-width: 420px) {
	.uv-subpage-heading .uv-subhead-content span {
		padding: 0px 10px;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media print {
	h2,
	h3,
	p {
		orphans: 3;
		widows: 3;
	}
}

@media print {
	h2,
	h3 {
		break-after: avoid;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media (max-width: 767px) {
	h2 {
		font-size: 38px;
		line-height: 55px;
		font-weight: 300;
	}
}

@media only screen and (max-width: 420px) {
	.uv-subpage-heading .uv-subhead-content span {
		padding: 0px 10px;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (min-width: 768px) {
	.col-sm-1,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9 {
		float: left;
	}
}

@media (min-width: 768px) {
	.col-sm-6 {
		width: 50%;
	}
}

@media (min-width: 992px) {
	.col-md-1,
	.col-md-10,
	.col-md-11,
	.col-md-12,
	.col-md-2,
	.col-md-3,
	.col-md-4,
	.col-md-5,
	.col-md-6,
	.col-md-7,
	.col-md-8,
	.col-md-9 {
		float: left;
	}
}

@media (min-width: 992px) {
	.col-md-4 {
		width: 33.3333%;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media only screen and (max-width: 991px) {
	.uv-courses-2 .uv-courese-single-thumb .uv-post-img img {
		width: 100%;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media print {
	img,
	tr {
		break-inside: avoid;
	}
}

@media print {
	img {
		max-width: 100% !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media print {
	a,
	a:visited {
		text-decoration: underline;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media (max-width: 767px) {
	ul,
	li {
		margin: 0px;
		padding: 0px;
		list-style: none;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media (max-width: 767px) {
	ul,
	li {
		margin: 0px;
		padding: 0px;
		list-style: none;
	}
}

@media (max-width: 767px) {
	li {
		display: inline-block;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media (max-width: 767px) {
	ul,
	li {
		margin: 0px;
		padding: 0px;
		list-style: none;
	}
}

@media (max-width: 767px) {
	li {
		display: inline-block;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (min-width: 768px) {
	.col-sm-1,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9 {
		float: left;
	}
}

@media (min-width: 768px) {
	.col-sm-6 {
		width: 50%;
	}
}

@media (min-width: 992px) {
	.col-md-1,
	.col-md-10,
	.col-md-11,
	.col-md-12,
	.col-md-2,
	.col-md-3,
	.col-md-4,
	.col-md-5,
	.col-md-6,
	.col-md-7,
	.col-md-8,
	.col-md-9 {
		float: left;
	}
}

@media (min-width: 992px) {
	.col-md-4 {
		width: 33.3333%;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media only screen and (max-width: 991px) {
	.uv-courses-2 .uv-courese-single-thumb .uv-post-img img {
		width: 100%;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media print {
	img,
	tr {
		break-inside: avoid;
	}
}

@media print {
	img {
		max-width: 100% !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media print {
	a,
	a:visited {
		text-decoration: underline;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media (max-width: 767px) {
	ul,
	li {
		margin: 0px;
		padding: 0px;
		list-style: none;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media (max-width: 767px) {
	ul,
	li {
		margin: 0px;
		padding: 0px;
		list-style: none;
	}
}

@media (max-width: 767px) {
	li {
		display: inline-block;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media (max-width: 767px) {
	ul,
	li {
		margin: 0px;
		padding: 0px;
		list-style: none;
	}
}

@media (max-width: 767px) {
	li {
		display: inline-block;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (min-width: 768px) {
	.col-sm-1,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9 {
		float: left;
	}
}

@media (min-width: 768px) {
	.col-sm-6 {
		width: 50%;
	}
}

@media (min-width: 992px) {
	.col-md-1,
	.col-md-10,
	.col-md-11,
	.col-md-12,
	.col-md-2,
	.col-md-3,
	.col-md-4,
	.col-md-5,
	.col-md-6,
	.col-md-7,
	.col-md-8,
	.col-md-9 {
		float: left;
	}
}

@media (min-width: 992px) {
	.col-md-4 {
		width: 33.3333%;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media only screen and (max-width: 991px) {
	.uv-courses-2 .uv-courese-single-thumb .uv-post-img img {
		width: 100%;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media print {
	img,
	tr {
		break-inside: avoid;
	}
}

@media print {
	img {
		max-width: 100% !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media print {
	a,
	a:visited {
		text-decoration: underline;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media (max-width: 767px) {
	ul,
	li {
		margin: 0px;
		padding: 0px;
		list-style: none;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media (max-width: 767px) {
	ul,
	li {
		margin: 0px;
		padding: 0px;
		list-style: none;
	}
}

@media (max-width: 767px) {
	li {
		display: inline-block;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media (max-width: 767px) {
	ul,
	li {
		margin: 0px;
		padding: 0px;
		list-style: none;
	}
}

@media (max-width: 767px) {
	li {
		display: inline-block;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (min-width: 768px) {
	.col-sm-1,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9 {
		float: left;
	}
}

@media (min-width: 768px) {
	.col-sm-6 {
		width: 50%;
	}
}

@media (min-width: 992px) {
	.col-md-1,
	.col-md-10,
	.col-md-11,
	.col-md-12,
	.col-md-2,
	.col-md-3,
	.col-md-4,
	.col-md-5,
	.col-md-6,
	.col-md-7,
	.col-md-8,
	.col-md-9 {
		float: left;
	}
}

@media (min-width: 992px) {
	.col-md-4 {
		width: 33.3333%;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media only screen and (max-width: 991px) {
	.uv-courses-2 .uv-courese-single-thumb .uv-post-img img {
		width: 100%;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media print {
	img,
	tr {
		break-inside: avoid;
	}
}

@media print {
	img {
		max-width: 100% !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media print {
	a,
	a:visited {
		text-decoration: underline;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media print {
	a,
	a:visited {
		text-decoration: underline;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media (max-width: 767px) {
	ul,
	li {
		margin: 0px;
		padding: 0px;
		list-style: none;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media (max-width: 767px) {
	ul,
	li {
		margin: 0px;
		padding: 0px;
		list-style: none;
	}
}

@media (max-width: 767px) {
	li {
		display: inline-block;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media (max-width: 767px) {
	ul,
	li {
		margin: 0px;
		padding: 0px;
		list-style: none;
	}
}

@media (max-width: 767px) {
	li {
		display: inline-block;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (min-width: 768px) {
	.col-sm-1,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9 {
		float: left;
	}
}

@media (min-width: 768px) {
	.col-sm-6 {
		width: 50%;
	}
}

@media (min-width: 992px) {
	.col-md-1,
	.col-md-10,
	.col-md-11,
	.col-md-12,
	.col-md-2,
	.col-md-3,
	.col-md-4,
	.col-md-5,
	.col-md-6,
	.col-md-7,
	.col-md-8,
	.col-md-9 {
		float: left;
	}
}

@media (min-width: 992px) {
	.col-md-4 {
		width: 33.3333%;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media only screen and (max-width: 991px) {
	.uv-courses-2 .uv-courese-single-thumb .uv-post-img img {
		width: 100%;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media print {
	img,
	tr {
		break-inside: avoid;
	}
}

@media print {
	img {
		max-width: 100% !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media print {
	a,
	a:visited {
		text-decoration: underline;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media (max-width: 767px) {
	ul,
	li {
		margin: 0px;
		padding: 0px;
		list-style: none;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media (max-width: 767px) {
	ul,
	li {
		margin: 0px;
		padding: 0px;
		list-style: none;
	}
}

@media (max-width: 767px) {
	li {
		display: inline-block;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media (max-width: 767px) {
	ul,
	li {
		margin: 0px;
		padding: 0px;
		list-style: none;
	}
}

@media (max-width: 767px) {
	li {
		display: inline-block;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (min-width: 768px) {
	.col-sm-1,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9 {
		float: left;
	}
}

@media (min-width: 768px) {
	.col-sm-6 {
		width: 50%;
	}
}

@media (min-width: 992px) {
	.col-md-1,
	.col-md-10,
	.col-md-11,
	.col-md-12,
	.col-md-2,
	.col-md-3,
	.col-md-4,
	.col-md-5,
	.col-md-6,
	.col-md-7,
	.col-md-8,
	.col-md-9 {
		float: left;
	}
}

@media (min-width: 992px) {
	.col-md-4 {
		width: 33.3333%;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media only screen and (max-width: 991px) {
	.uv-courses-2 .uv-courese-single-thumb .uv-post-img img {
		width: 100%;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media print {
	img,
	tr {
		break-inside: avoid;
	}
}

@media print {
	img {
		max-width: 100% !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media print {
	a,
	a:visited {
		text-decoration: underline;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media (max-width: 767px) {
	ul,
	li {
		margin: 0px;
		padding: 0px;
		list-style: none;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media (max-width: 767px) {
	ul,
	li {
		margin: 0px;
		padding: 0px;
		list-style: none;
	}
}

@media (max-width: 767px) {
	li {
		display: inline-block;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media (max-width: 767px) {
	ul,
	li {
		margin: 0px;
		padding: 0px;
		list-style: none;
	}
}

@media (max-width: 767px) {
	li {
		display: inline-block;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

.container{
	min-height: 40vh;
}

.desc {
	max-height: 195px;
	text-overflow: ellipsis;
}